@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    @foreach (var Book in Model)
    {
        <div>
            <h2>@Book.Name</h2>
            <p>@Book.Price</p>
            
            
        </div>
    }
</div>