@using BookStoreCet.Data
@model Publisher

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name Yay覺nlar覺</title>
</head>
<body>
<div>
      <h4>@Model.Name Yay覺nlar覺</h4>
</div>
</body>
</html>